.footer{
    width: 100%;
    height: 6rem;
    background-color: black;
    text-align: center;
    color: $cl-4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}