
.header{
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(../images/bg.png) no-repeat center /cover;
    width: 100%;
    height: 100vh;
    &__content{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        h2{
            @include italic-heading;
            margin-bottom: 3rem;
            color: $cl-1;
            font-size: 5rem;
            span{
                color: $cl-4;
            }
        }
        p{
            width: 70rem;
            line-height: 3rem;
            font-family: 'Raleway', sans-serif;
            color: $cl-1;
            margin-bottom: 3rem;
            font-size: 2rem;
        }
        button{
            font-size: 2rem;
            margin: 0 auto;
            text-transform: uppercase;
            display: block;
            background-color: transparent;
            color: $cl-1;
            padding: 1.4rem 2.3rem;
            border: 2px solid $cl-1;
        }
    }
}