@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;0,700;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;0,700;1,500;1,600;1,700&family=Raleway:wght@400;500;600;700&display=swap');
// font-family: 'Playfair Display', serif;
// font-family: 'Raleway', sans-serif;